.header{
	width: 100%;
	margin:10px auto;
	text-align:center;
}
.header h1{
	font-size:40px;
	margin:10px auto;
	
}
.header h1 span{
	font-size:20px;
}
.header a{
	text-decoration: none;
	display:block;
	width: 100px;
	background:#8f7a66;
	color:#fff;
	padding:10px;
	border-radius:10px;
	margin:0 auto;
}
.header a:hover{
	background:#9f8b77;
}
.header p{
	font-size:25px;
	margin:10px auto;
}
.grid-container{
	width: 460px;
	height: 460px;
	padding:20px;
	background:#bbada0;
	margin:30px auto;
	border-radius:10px;
	position:relative;
}
.grid-container .grid-cell{
	width: 100px;
	height: 100px;
	background:#ccc0b3;
	border-radius:10px;
	position:absolute;
}
.grid-container .number-cell{
	border-radius: 6px;
	position: absolute;
	font: bold 50px Arial;
	text-align: center;
	line-height: 100px;
}